$black: black;
$dark-grey: #333333;
$medium-gray: #808080;
$light-grey: #D0D0D0;
$blue: #288bc2;
$blue-secondary:#2732F3;
$orange: #f0994d;
$pass-background:#f2f2f2;
$success: #2AB500;
$important: #EA3339;
$stripe: #FEF200;
$neutralgray: #B3B3B3;

$whiteOpacity09: rgba(255, 255, 255, 0.9);
$blackOpacity05: rgba(0, 0, 0, 0.5);