.checkout-container {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5em auto;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

  .checkout-logo {
    height: 5em;

    img {
      height: 4em;
    }
  }

  .checkout-image-container {
    display: flex;
    align-items: center;
    padding: 0 5% 0 5%;

    img {
      border-radius: 0.75em;
    }
  }

  .checkout-form-container {
    display: grid;

    justify-items: center;
  }

  .checkout-button-container {
    margin-bottom: 2em;
    button {
      cursor: pointer;
      border-style: solid;
      border-color: black;
      border-width: 0.5px;
      background-color: transparent;
      border-radius: 15px;
      font-size: 1.5rem;
      padding: 0.4em 3em 0.4em;
      font-weight: 100;
      text-align: center;
      color: black;
    }
    button:disabled,
    button[disabled] {
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
    }
  }
}


.checkout-response-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10em auto;
  text-align: center;
  justify-items: center;

  .checkout-response-logo {
    padding-top: 4em;
    height: 10em;

    img {
      height: 8em;
    }
  }
}