@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.profile-container {
  max-width: 800px;
  margin: 0 auto;
  white-space: pre-line;

  .profile-info-container {
    margin-left: 0.8em;
    margin-right: 0.8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
    color: #9aa0a6;

    .profile-title {
      text-align: left;
      font-size: 1.2rem;
    }
    .profile-link-sm {
      text-align: left;
      flex-grow: 1;
      font-size: 0.7rem;
      width: 80vw;
      color: $blue;
    }
    .profile-title-edit {
      flex-grow: 1;
      font-size: 1.0rem;
      width: 100%;
    }

    .profile-link-sm-edit {
      flex-grow: 1;
      font-size: 0.6rem;
      width: 80vw;
    }
  }

  .profile-image-container {
    position: relative;
    height: 180px;
    width: 100%;
    background-color: black;
    display: flex;

    .profile-img {
      position: absolute;
      width: 100px;
      height: 100px;
      left: calc(20% - 50px);
      top: calc(50% - 50px);
      border-radius: 50px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #e6e6e6;
      background-size: contain;
      border: 2px solid white;
      z-index: 1;
    }

    .dj3n-logo {
      width: 20vw;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      rotate: 90deg;
      background-position: 10px -20px;
    }

    .profile-image-bg {
      width: 80vw;
      height: 100%;
      background-color: #e6e6e6;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .profile-description {
    margin-left: 1.0em !important;
    margin-right: 1.0em !important;
    color: #9aa0a6;
    text-align: left;
    font-size: 0.7rem;
    margin-left: 0.3em;
  }

  .profile-description-edit {
    font-size: 0.6rem;
    display: flex;
    width: 80vw;
    text-align: left;
    margin-left: 0.9em !important;
    margin-right: 0.9em !important;
  }
}
