.gallery-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5em auto;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

  .gallery-header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gallery-menu {
    width: 20vw;
  }

  .gallery {
    justify-items: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
    // gap: 10px;
    margin-bottom: 2em;
  }
}


@media (max-width: 900px) {
  .gallery-container {
    .gallery {
      width: 80vw;
      justify-items: center;
      align-content: center;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 650px) {
  .gallery-container {
    .gallery {
      width: 80vw;
      justify-items: center;
      align-content: center;
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}



