.navigation-container {
  position: sticky;
  top: 0;
  height: 6vh;
  margin-bottom: 4vh;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: rgba($color: black, $alpha: 0.1);
  background-color: rgba($color: white, $alpha: 0.9);
  z-index: 20;

  .logo {
    img {
      height: 2em;
    }
  }
  
  .nav-link {
    font-weight: 100;
    text-decoration: none; 
    color: inherit;
    cursor: pointer;
  }

  .nav-wallet {
    font-weight: 100;
  }
}