.mint-container {
  display: grid; 
  grid-template-columns: 5fr 2fr 5fr; 
  gap: 15px 5px; 
  height: 89vh;
  justify-content: center; 
  align-content: start; 
  justify-items: center; 
  align-items: start; 
  white-space: pre-line;

  h1 {
    font-weight: 100;
  }
  
  .column-divider {
    padding: 10px;
  }

  .input-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  }

  // .input-column > div {
  //   margin: 6px;
  // }
}