.mint-container {
  height: 93vh !important;
  display: grid; 
  //text-align: center;
  grid-template-columns: 12fr; 
  justify-content: center; 
  align-content: start; 
  justify-items: center; 
  align-items: start; 
  white-space: pre-line;

  img {
    height: 4em;
    padding-top: 5%;
  }
  h2 {
    font-weight: 100;
  }

  .mint-processing-container {
    text-align: center;
  }
  .quantity-price-container {
    display: grid; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.5fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "quantity-price-title quantity-price-title quantity-price-title"
      "quantity-price-input quantity-price-input quantity-price-input"; 
  }
  .quantity-price-input {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    justify-content: center; 
    align-content: center; 
    justify-items: center; 
    align-items: center; 
    grid-area: quantity-price-input; 
  }
  .quantity-price-title {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-area: quantity-price-title; 
  }

}