@import "../../assets/scss/variables";

.collectible-details-container {
  width: calc(100vw - 48px - 18px);
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  color: #FFFFFF;
  min-height: 86vh;

  .collectible-details-header {
    height: 24px;
    display: flex;
    justify-content: flex-start;
  }

  .collectible-creator-message {
    text-align: center;
    height: 35px;
    line-height: 40px;
  }

  .collectible-creator-view {
    margin-bottom: 32px;
  }

  .collectible-share-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  .collectible-details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .collectible-details-title {
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 5px;
      line-height: 24.38px;
    }

    .collectible-details-image-container {
      max-width: 500px;

      img {
        border-radius: 8px;
      }
    }

    .collectible-details-info {
      margin-top: 16px;
      border-radius: 8px;
      background-color: #F2F2F2;
      padding: 16px 24px;
      color: $black;
      font-size: 14px;
    }
  }

  .collectible-details-owner {
    text-align: left;
    font-size: 14px;
  }

  .collectible-details-price {
    width: 100%;
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    text-align: right;
    border-bottom: 1px solid #999999;
  }
}