.nft-card-container {
  cursor: pointer;
  height: 250px;
  width: 250px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 7.5px 15px;
  position: relative;
  overflow: hidden;

  .nft-image-wrapper {
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform .2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .nft-info {
    text-align: center;
    height: 3em;
    width: 100%;
    margin-top: auto;
    background-color: white;
    opacity: 75%;
    line-height: 0.1;

    p {
      font-weight: 900;
    }
  }

}
