@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.nft-card-container {
  cursor: pointer;
  height: calc(33vw - 1em);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  float: left;
  margin: 1px;
  width: calc(33vw - 1em);
  border: 1px solid $neutralgray;

  .nft-info {
    text-align: center;
    height: 3em;
    width: 100%;
    margin-top: auto;
    background-color: white;
    opacity: 75%;
    line-height: 0.1;

    p {
      font-weight: 900;
    }
  }

}