@import "./assets/scss/styles.scss";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 600;
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

button {
  border: 0;
  color: white;
  font-size: 1.5rem;
  border-radius: 20px;
  padding: 0.4em 1.5em 0.4em;
}

button:disabled {
  cursor: default;
  background-color: #dcfaff;
  color: black;
}

code {
  font-family: "Montserrat", sans-serif;
}

#root {
  @include flex-column();
  min-height: 100vh;
}
